name: Deploy GKE-Infrastructure

on:
  push:
    branches:
      - dev
    paths:
      - ../../

jobs:
  terraform-build:
    name: "Deploy Infrastructure"
    runs-on: ubuntu-latest
    container: hashicorp/terraform:latest
    steps:
      - name: init
        run: terraform init
      - name: fmt
        run: terraform fmt
      - name: validate
        run: terraform validate
      - name: plan
        run: terraform plan
        
      






  