name: Deploy infrastructure

on:
  push:
    branches:
      - dev

jobs:
  terraform-build:
    name: "Build"
    runs-on: ubuntu-latest
    container:
      image: hashicorp/terraform:latest
      volumes:
        - ./:${PWD}
    steps:
      - name: init
        run: terraform init
      - name: fmt
        run: terraform fmt
        continue-on-error: true
      - name: validate
        run: terraform validate
      - name: plan
        run: terraform plan

        
      






  