name: Deploy GKE-Infrastructure


on:
  push:
    branches:
      - dev

jobs:
  terraform-build:
    name: "Deploy Infrastructure"
    runs-on: ubuntu-latest
    container: hashicorp/terraform:latest
    steps:
      - name: init
        run: terraform init
        working-directory: "../../"
      - name: fmt
        run: terraform fmt
        working-directory: "../../"
      - name: validate
        run: terraform validate
        working-directory: "../../"
      - name: plan
        run: terraform plan
        working-directory: "../../"
        
      






  